$font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grey-0: #f7f8f8;
$grey-1: #dcdddd;
$grey-2: #898989;
$grey-3: #595757;
$grey-4: #3e3a39;
$default-blue: #036e8b;
